// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header {
  h1 {
    font-size: 2em;       
  }
  h2 {
    font-size: 0.8em;
  }
}

#content .blog-index article {
  h1 {
    font-size: 1.8em;       
  }      
}

h1.entry-title {
  font-size: 1.8em;
}

div.entry-content {
  font-size: 0.9em;
}                 